$white : #ffffff;
$black: #000000;
$red : #D3393C;

// BLUE COLOR PALETTE 
$blue1 : #CDFAFA;
$blue2 : #0AC8B9;
$blue3 : #0397AB;
$blue4 : #005A82;
$blue5 : #0A323C;
$blue6 : #091428;
$blue7 : #0A1428;
$sky : #a8efff;

// GOLD COLOR PALETTE
$gold1 : #F0E6D2;
$gold2 : #C8AA6E;
$gold3 : #C8AA6E;
$gold4 : #C89B3C;
$gold5 : #785A28;
$gold6 : #463714;
$gold7 : #32281E;

// GREY COLOR PALETTE
$grey1 : #FAFAFA;
$grey2 : #A09B8C;
$grey3 : #5B5A56;
$grey4 : #3C3C41;
$grey5 : #1E2328;
$grey6 : #1E282D;
$grey7 : #010A13;

// DARK BLUE GRADIENT
$dark-blue-gradient : linear-gradient(90deg, rgba(9, 20, 40, 1) 0%, rgba(10, 20, 40, 1) 100%);

// GOLD GRADIENT
$gold-graident : linear-gradient(90deg, rgba(120, 90, 40, 1) 0%, rgba(200, 155, 60, 1) 100%);

// BLUE GRADIENT
$blue-gradient : linear-gradient(90deg, rgba(0, 90, 130, 1) 0%, rgba(10, 200, 185, 1) 100%);