header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: #2c2d33;
    z-index: 10;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.5);
    nav {
        position: relative;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
            color: #ffffff;
            font-size: 2rem;
            line-height: 80px;
            font-weight: 700;
        }

        ul {
            margin: 0;
            display: flex;
            li {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
            }
        }

        .checkbtn {
            width: 60px;
            height: 100%;
            position: absolute;
            right: 0px;
            font-size: 2rem;
            color: #ffffff;
            cursor: pointer;
            display: none;
            text-align: center;
            i {
                width: 60px;
                height: 50%;
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
            }
        }

        #check {
            display: none;
        }
    }
}
