@media only screen and (max-width: 768px) {
  .navbar {
    display: none; }

  .container {
    width: 280px;
    padding: 50px 12px 12px 12px; }
    .container section {
      padding: 0px; }
      .container section:nth-child(1) h3 {
        font-weight: normal; }
      .container section:nth-child(1) p {
        font-size: 11px; }
      .container section:nth-child(2) {
        flex-direction: column; }
        .container section:nth-child(2) .card {
          width: 250px;
          height: 120px;
          display: grid;
          margin-bottom: 24px; }
          .container section:nth-child(2) .card:nth-child(2) .card-header span {
            font-weight: normal; }
          .container section:nth-child(2) .card .card-header {
            justify-content: flex-start;
            padding: 0;
            height: 16px;
            grid-area: 1 / 2 / span 1 / span 5; }
            .container section:nth-child(2) .card .card-header .card-title {
              margin-left: 10px; }
          .container section:nth-child(2) .card .card-body {
            height: 101px;
            width: 227px;
            display: flex;
            justify-content: flex-end;
            grid-area: 2 / 2 / span 1 / span 5; }
            .container section:nth-child(2) .card .card-body .image-wrapper .computer {
              height: 42px;
              left: 16px;
              top: 32px; }
            .container section:nth-child(2) .card .card-body .image-wrapper .computer-1 {
              height: 42px;
              left: 12px;
              top: 32px; }
            .container section:nth-child(2) .card .card-body .image-wrapper .smartPhone {
              height: 26px;
              left: 64px;
              top: 50px; }
            .container section:nth-child(2) .card .card-body .image-wrapper .computer-2 {
              height: 36px;
              top: 38px;
              left: 32px; }
            .container section:nth-child(2) .card .card-body .image-wrapper .smartPhone-1 {
              height: 26px;
              top: 50px;
              left: 78px; }
            .container section:nth-child(2) .card .card-body .image-wrapper .credit-card {
              height: 20px;
              left: 60px;
              top: 13px; }
            .container section:nth-child(2) .card .card-body .image-wrapper .picture {
              height: 12px;
              left: 24px;
              top: 20px; }
            .container section:nth-child(2) .card .card-body .image-wrapper .cash-register {
              height: 18px;
              top: 56px;
              left: 10px; }
            .container section:nth-child(2) .card .card-body .price {
              padding-top: 0px;
              border-top: none;
              padding: 30px 34px;
              height: 100%; }
              .container section:nth-child(2) .card .card-body .price .total-price {
                font-size: 16px;
                text-align: center; }
              .container section:nth-child(2) .card .card-body .price .one-time-price {
                font-size: 8px;
                border-bottom: 1px solid #e0e0e0;
                padding-bottom: 3px; }
            .container section:nth-child(2) .card .card-body .total-price-selected {
              font-size: 16px;
              text-align: center; }
            .container section:nth-child(2) .card .card-body .one-time-price-selected {
              font-size: 8px;
              border-bottom: 1px solid #000000;
              padding-bottom: 3px; }
          .container section:nth-child(2) .card .card-footer {
            margin-right: 8px;
            border: none;
            padding: 0;
            grid-area: 1 / 1 / span 2 / span 1; }
      .container section:nth-child(3) {
        margin-top: 10px; }
        .container section:nth-child(3) table thead tr {
          height: 32px; }
          .container section:nth-child(3) table thead tr th {
            border: none !important;
            position: relative; }
            .container section:nth-child(3) table thead tr th h6 {
              font-weight: normal;
              position: absolute;
              padding-left: 0;
              bottom: -6px;
              left: 0px;
              margin: 0;
              font-size: 16px; }
        .container section:nth-child(3) table tbody tr {
          height: 70px;
          border-top: 1px solid #e0e0e0; }
          .container section:nth-child(3) table tbody tr td {
            border: none;
            position: relative; }
            .container section:nth-child(3) table tbody tr td:first-child {
              width: 20%; }
              .container section:nth-child(3) table tbody tr td:first-child div {
                justify-content: center; }
                .container section:nth-child(3) table tbody tr td:first-child div input {
                  width: 14px;
                  height: 14px; }
                .container section:nth-child(3) table tbody tr td:first-child div label {
                  width: 45px;
                  top: 5px;
                  position: absolute;
                  font-size: 10px;
                  left: 41px; }
            .container section:nth-child(3) table tbody tr td:last-child {
              width: 80%;
              padding: 0;
              position: relative;
              font-size: 7px;
              right: 10px;
              vertical-align: bottom; }
              .container section:nth-child(3) table tbody tr td:last-child p {
                position: absolute;
                margin: 0;
                top: 25px; }
          .container section:nth-child(3) table tbody tr:first-child img {
            width: 14px;
            height: 14px; }
      .container section:nth-child(4) form .form-wrapper .form-group {
        padding: 8px;
        padding-bottom: 16px; }
        .container section:nth-child(4) form .form-wrapper .form-group .input-wrapper input,
        .container section:nth-child(4) form .form-wrapper .form-group .input-wrapper select {
          border-radius: 30px;
          width: 240px !important;
          height: 30px;
          font-size: 13px; }
        .container section:nth-child(4) form .form-wrapper .form-group .input-wrapper select {
          padding-top: 4px;
          padding-left: 17px; }
        .container section:nth-child(4) form .form-wrapper .form-group .input-wrapper .floating-label {
          font-size: 13px;
          top: 5px; }
        .container section:nth-child(4) form .form-wrapper .form-group .input-wrapper select {
          background-position: calc(100% - 20px) 10px, calc(100% - 10px) 10px, 100% 0; }
      .container section:nth-child(4) form .form-wrapper:nth-child(1) h6 {
        padding-left: 0px;
        font-weight: normal;
        margin-bottom: 5px; }
      .container section:nth-child(4) form .form-wrapper:nth-child(1) .form-group::before {
        top: 20px; }
      .container section:nth-child(4) form .form-wrapper:nth-child(2)::before {
        top: 24px; }
      .container section:nth-child(4) form .form-wrapper:nth-child(2) h6 {
        padding-left: 0px;
        font-weight: normal;
        margin-bottom: 6px; }
      .container section:nth-child(4) form .form-wrapper:nth-child(2) .form-group {
        padding-top: 30px; }
        .container section:nth-child(4) form .form-wrapper:nth-child(2) .form-group .form-title {
          top: -20px;
          left: 60px;
          font-size: 14px; }
      .container section:nth-child(4) form .form-wrapper:nth-child(2) .form-info {
        margin-top: 10px;
        font-size: 14px; }
      .container section:nth-child(4) .button-wrapper button {
        width: 100px;
        height: 30px; } }

/*# sourceMappingURL=mobile.css.map */
