@keyframes animateRoad {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 99999px;
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes yellowLight {
    0% {
        filter: drop-shadow(0 0 1rem#DEC235);
    }

    10% {
        filter: drop-shadow(0 0 0.9rem#DEC235);
    }

    20% {
        filter: drop-shadow(0 0 0.7rem#DEC235);
    }

    30% {
        filter: drop-shadow(0 0 0.4rem#DEC235);
    }

    40% {
        filter: drop-shadow(0 0 0.5rem#DEC235);
    }

    50% {
        filter: drop-shadow(0 0 0.8rem#DEC235);
    }

    60% {
        filter: drop-shadow(0 0 0.6rem#DEC235);
    }

    70% {
        filter: drop-shadow(0 0 0.7rem#DEC235);
    }

    80% {
        filter: drop-shadow(0 0 0.6rem#DEC235);
    }

    90% {
        filter: drop-shadow(0 0 0.5rem#DEC235);
    }

    100% {
        filter: drop-shadow(0 0 0.8rem#DEC235);
    }
}
.container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);

    .sun {
        position: absolute;
        width: 100%;
        height: 100px;
        background: transparent;
        &::before {
            content: "";
            background-size: 60px;
            background-image: url(../images/sun.svg);
            background-repeat: no-repeat;
            position: absolute;
            left: 80%;
            top: 20px;
            width: 100%;
            height: 100%;
            animation: yellowLight 0.5s linear infinite;
        }
    }
    .clouds {
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        &::before {
            left: -50px;
            top: 30px;
            content: "";
            background-size: 800px 100px;
            background-image: url(../images/cloud-computing.svg);
            background-repeat: repeat-x;
            position: absolute;
            width: 120%;
            height: 100px;
            animation: animateRoad 25000s linear infinite;
        }
        &::after {
            top: 0px;
            content: "";
            background-size: 1000px 200px;
            background-image: url(../images/cloud-computing2.svg);
            background-repeat: repeat-x;
            position: absolute;
            width: 100%;
            height: 200px;
            animation: animateRoad 30000s linear infinite;
        }
    }
    .mountain {
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        &::before {
            left: 0px;
            bottom: 80px;
            content: "";
            background-size: 1000px 250px;
            background-image: url(../images/mountain2.svg);
            background-repeat: repeat-x;
            position: absolute;
            width: 100%;
            height: 250px;
            animation: animateRoad 25000s linear infinite;
        }
        &::after {
            left: 0px;
            bottom: 80px;
            content: "";
            background-size: 1500px 350px;
            background-image: url(../images/mountain.svg);
            background-repeat: repeat-x;
            position: absolute;
            width: 100%;
            height: 350px;
            animation: animateRoad 30000s linear infinite;
        }
    }
    .forest {
        bottom: 90px;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        &::before {
            bottom: 0;
            content: "";
            background-size: 100px;
            background-image: url(../images/trees.svg);
            background-repeat: repeat-x;
            position: absolute;
            width: 100%;
            height: 100px;
            animation: animateRoad 1000s linear infinite;
        }
        &::after {
            left: -40px;
            bottom: 0;
            content: "";
            background-size: 100px;
            background-image: url(../images/woodland.svg);
            background-repeat: repeat-x;
            position: absolute;
            width: 120%;
            height: 100px;
            animation: animateRoad 1000s linear infinite;
        }
    }
    .trees {
        bottom: 80px;
        position: absolute;
        width: 100%;
        height: 300px;
        background: transparent;
        &::before {
            bottom: 0;
            content: "";
            background-image: url(../images/tree.svg);
            position: absolute;
            width: 100%;
            height: 90%;
            animation: animateRoad 500s linear infinite;
        }
        &::after {
            content: "";
            background-image: url(../images/tree1.svg);
            position: absolute;
            width: 120%;
            height: 100%;
            animation: animateRoad 300s linear infinite;
        }
    }
    .bush {
        background-repeat: repeat-x;
        bottom: 70px;
        position: absolute;
        width: 100%;
        height: 100px;
        background: transparent;
        &::before {
            background-size: 500px 100px;
            bottom: 0px;
            content: "";
            background-image: url(../images/bush.svg);
            position: absolute;
            width: 100%;
            height: 100%;
            animation: animateRoad 300s linear infinite;
        }
        &::after {
            left: -50px;
            background-repeat: repeat-x;
            background-size: 500px 100px;
            bottom: 0px;
            content: "";
            background-image: url(../images/bushs.svg);
            position: absolute;
            width: 120%;
            height: 100%;
            animation: animateRoad 300s linear infinite;
        }
    }
    .road {
        bottom: 25px;
        position: absolute;
        left: -20%;
        width: 150%;
        height: 160px;
        background: #525252;
        transform-origin: bottom;
        transform-style: preserve-3d;
        transform: perspective(500px) rotateX(55deg);
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 10px;
            background: linear-gradient(90deg, #fff 0%, #fff 70%, #525252 90%, #525252 100%);
            background-size: 420px;
            animation: animateRoad 100s linear infinite;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 30px;
            background: #333;
            bottom: -30px;
            transform-origin: top;
            transform: perspective(500px) rotateX(-25deg);
        }
        .shadow {
            position: absolute;
            bottom: -93px;
            left: 50%;
            width: 95%;
            transform: translateX(-50%);
            height: 60px;
            background: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
        }
    }
    .car-box {
        position: absolute;
        width: 100%;
        bottom: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        .car-wrapper {
            width: 320px;
            height: 80px;
            -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, black);
            top: 15px;
            position: relative;
            img {
                position: absolute;
            }
            .car {
                top: -10px;
                height: 80px;
            }
            .frontWhell {
                animation: animate 0.2s linear infinite;
                left: 37px;
                bottom: -1px;
                height: 50px;
            }
            .backWhell {
                animation: animate 0.2s linear infinite;
                right: 49px;
                bottom: -1px;
                height: 50px;
            }
        }
    }
}
