/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        background-image: linear-gradient(90deg, rgba(106, 122, 219, 1) 0%, rgba(111, 85, 166, 1) 100%);
        background-size: 25% 100%;
        background-repeat: no-repeat;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: rgba(111, 85, 166, 1);
        cursor: ew-resize;
        box-shadow: 0 0 2px 0 #555;
        transition: background 0.3s ease-in-out;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
    input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: rgba(111, 85, 166, 1) !important;
        cursor: pointer;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        -webkit-transition: 0.1s;
        transition: 0.1s;
    }

    input:checked + .slider {
        background-color: rgba(111, 85, 166, 1);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px rgba(111, 85, 166, 1);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}
