@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Pixel";
  src: url("../font/pixel_sans_serif/Pixel_Sans_Serif.ttf"); }
* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive !important;
  font-weight: 700;
  font-weight: lighter;
  color: #fff; }

body {
  background-color: #6f55a6; }

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .password__generator__wrapper {
    width: 500px;
    height: 750px;
    padding: 35px 30px;
    background-color: #0b0f2f;
    border-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    main .password__generator__wrapper .title {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2rem; }
    main .password__generator__wrapper .screen {
      margin-bottom: 1rem; }
      main .password__generator__wrapper .screen input {
        border-radius: 10px;
        box-shadow: none;
        width: 100%;
        font-family: "Pixel", Arial !important;
        border-top: none;
        font-weight: lighter !important;
        font-size: 1.2rem;
        text-align: center;
        height: 80px;
        background-color: #6a7adb;
        color: white;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.746); }
    main .password__generator__wrapper .lenght .tag {
      font-size: 12px;
      padding-left: 10px; }
      main .password__generator__wrapper .lenght .tag #rangevalue {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        width: 50px;
        font-size: 12px; }
    main .password__generator__wrapper .lenght .input__group {
      margin-top: 5px;
      position: relative;
      height: 70px;
      background-color: #1e223f;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 40px; }
      main .password__generator__wrapper .lenght .input__group input {
        width: 100%;
        opacity: 0.7; }
      main .password__generator__wrapper .lenght .input__group::before {
        content: "4";
        position: absolute;
        left: 18px; }
      main .password__generator__wrapper .lenght .input__group::after {
        content: "32";
        position: absolute;
        right: 12px; }
    main .password__generator__wrapper .settings {
      margin-top: 1rem; }
      main .password__generator__wrapper .settings .tag {
        padding-left: 10px;
        font-size: 12px; }
      main .password__generator__wrapper .settings .input__group {
        margin-bottom: 10px;
        margin-top: 5px;
        position: relative;
        height: 70px;
        background-color: #1e223f;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px; }
        main .password__generator__wrapper .settings .input__group input {
          width: 100%;
          opacity: 0.7; }
    main .password__generator__wrapper .generate {
      width: 100%;
      height: 70px; }
      main .password__generator__wrapper .generate button {
        cursor: pointer;
        font-size: 1rem;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background: #6a7adb;
        background: linear-gradient(90deg, #6a7adb 0%, #6f55a6 100%); }
        main .password__generator__wrapper .generate button:active {
          position: relative;
          top: 1px; }

/*# sourceMappingURL=style.css.map */
