@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive !important;
  font-weight: 700; }

main {
  background: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .periodic__table {
    position: relative;
    color: #fff; }
    main .periodic__table .info__table {
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      position: absolute;
      top: 20px;
      left: 300px; }
      main .periodic__table .info__table li {
        user-select: none;
        cursor: pointer;
        width: 150px;
        margin: 10px;
        transition: all 0.1s ease-in-out; }
        main .periodic__table .info__table li:hover {
          transform: scale(1.1); }
      main .periodic__table .info__table .nonmetal__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .nonmetal__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #128370;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .nonmetal__info span:last-child {
          font-size: 0.7rem;
          color: #128370; }
      main .periodic__table .info__table .alkali__metal__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .alkali__metal__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #0c5b4e;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .alkali__metal__info span:last-child {
          font-size: 0.7rem;
          color: #0c5b4e; }
      main .periodic__table .info__table .alkaline__metal__earth__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .alkaline__metal__earth__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #016c9a;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .alkaline__metal__earth__info span:last-child {
          font-size: 0.7rem;
          color: #016c9a; }
      main .periodic__table .info__table .transition__metal__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .transition__metal__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #6f2f91;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .transition__metal__info span:last-child {
          font-size: 0.7rem;
          color: #6f2f91; }
      main .periodic__table .info__table .lanthande__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .lanthande__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #af1f4f;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .lanthande__info span:last-child {
          font-size: 0.7rem;
          color: #af1f4f; }
      main .periodic__table .info__table .actinide__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .actinide__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #64122d;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .actinide__info span:last-child {
          font-size: 0.7rem;
          color: #64122d; }
      main .periodic__table .info__table .metalloid__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .metalloid__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #17bed0;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .metalloid__info span:last-child {
          font-size: 0.7rem;
          color: #17bed0; }
      main .periodic__table .info__table .post__transition__metal__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .post__transition__metal__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #f4c20d;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .post__transition__metal__info span:last-child {
          font-size: 0.7rem;
          color: #f4c20d; }
      main .periodic__table .info__table .halogen__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .halogen__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #f5c0c0;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .halogen__info span:last-child {
          font-size: 0.7rem;
          color: #f5c0c0; }
      main .periodic__table .info__table .noble__gas__info {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .periodic__table .info__table .noble__gas__info span:first-child {
          width: 20px;
          height: 20px;
          background-color: #f08fc0;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
          margin-right: 5px; }
        main .periodic__table .info__table .noble__gas__info span:last-child {
          font-size: 0.7rem;
          color: #f08fc0; }
      main .periodic__table .info__table .status__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5px;
        border-radius: 5px;
        width: 50%;
        background-color: #53b8bb;
        cursor: default; }
        main .periodic__table .info__table .status__info:hover {
          transform: scale(1); }
        main .periodic__table .info__table .status__info span {
          color: #fff;
          margin-top: 2px;
          font-size: 0.7rem; }
    main .periodic__table .line {
      display: flex;
      justify-content: center;
      align-items: center; }
      main .periodic__table .line .box {
        position: relative;
        width: 70px;
        height: 70px;
        margin: 2px;
        transition: all 0.1s ease-in-out; }
        main .periodic__table .line .box .element {
          transition: all 0.1s ease-in-out;
          cursor: pointer;
          position: relative;
          width: 100%;
          height: 100%;
          padding: 4px 2px;
          border-radius: 5px;
          clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0); }
          main .periodic__table .line .box .element .information__list .name {
            display: none;
            font-size: 0.5rem;
            padding: 2px; }
          main .periodic__table .line .box .element .information__list .symbol {
            font-size: 1.4rem;
            padding: 4px 2px 0 2px; }
          main .periodic__table .line .box .element .information__list .state {
            font-size: 0.9rem;
            padding: 2px; }
          main .periodic__table .line .box .element .information__list .atomic_weight {
            font-size: 0.7rem;
            padding: 2px; }
          main .periodic__table .line .box .element:hover {
            transition: 0.1s ease-in-out;
            transform: scale(1.3);
            z-index: 999; }
            main .periodic__table .line .box .element:hover .information__list .name {
              display: block; }
            main .periodic__table .line .box .element:hover .information__list .symbol {
              font-size: 1.2rem; }
              main .periodic__table .line .box .element:hover .information__list .symbol img {
                filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(220deg) brightness(99%) contrast(102%); }
            main .periodic__table .line .box .element:hover .information__list .state {
              font-size: 0.8rem; }
            main .periodic__table .line .box .element:hover .information__list .atomic_weight {
              font-size: 0.6rem; }
        main .periodic__table .line .box .nonmetal {
          background-color: #128370; }
          main .periodic__table .line .box .nonmetal:hover {
            color: #128370;
            background-color: #fff; }
        main .periodic__table .line .box .noble__gas {
          background-color: #f08fc0; }
          main .periodic__table .line .box .noble__gas:hover {
            color: #f08fc0;
            background-color: #fff; }
        main .periodic__table .line .box .alkali__metal {
          background-color: #0c5b4e; }
          main .periodic__table .line .box .alkali__metal:hover {
            color: #0c5b4e;
            background-color: #fff; }
        main .periodic__table .line .box .alkaline__earth__metal {
          background-color: #016c9a; }
          main .periodic__table .line .box .alkaline__earth__metal:hover {
            color: #016c9a;
            background-color: #fff; }
        main .periodic__table .line .box .metalloid {
          background-color: #17bed0; }
          main .periodic__table .line .box .metalloid:hover {
            color: #17bed0;
            background-color: #fff; }
        main .periodic__table .line .box .halogen {
          background-color: #f5c0c0; }
          main .periodic__table .line .box .halogen:hover {
            color: #f5c0c0;
            background-color: #fff; }
        main .periodic__table .line .box .post__transition__metal {
          background-color: #f4c20d; }
          main .periodic__table .line .box .post__transition__metal:hover {
            color: #f4c20d;
            background-color: #fff; }
        main .periodic__table .line .box .transition__metal {
          background-color: #6f2f91; }
          main .periodic__table .line .box .transition__metal:hover {
            color: #6f2f91;
            background-color: #fff; }
        main .periodic__table .line .box .lanthanide {
          background-color: #af1f4f; }
          main .periodic__table .line .box .lanthanide:hover {
            color: #af1f4f;
            background-color: #fff; }
        main .periodic__table .line .box .actinide {
          background-color: #64122d; }
          main .periodic__table .line .box .actinide:hover {
            color: #64122d;
            background-color: #fff; }
        main .periodic__table .line .box .atomic__number {
          color: #393e46;
          position: absolute;
          right: 3px;
          bottom: 3px;
          font-size: 0.65rem; }

/*# sourceMappingURL=style.css.map */
