@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
    transition: all 0.3s ease;
}
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #243447;
}

.wrapper {
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: #15202b;
    border-radius: 15px;
    max-width: 600px;
    min-height: 265px;
    width: 100%;
    padding: 0;
    .header {
        padding: 5px 15px;
        height: 60px;
        border-bottom: 1px solid rgb(61, 84, 102);
        a {
            display: block;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-radius: 50%;
            i {
                font-size: 25px;
                cursor: pointer;
                color: #f45d22;
                font-weight: 100;
            }
            &:hover {
                background: #f45d2213;
            }
        }
    }
    .input-box {
        padding-top: 2rem;
        padding-left: 4rem;
        padding-right: 5.5rem;
        .tweet-area {
            max-height: 170px;
            overflow-y: auto;
            position: relative;
            min-height: 130px;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0px !important;
            }
            .placeholder {
                position: absolute;
                margin-top: -3px;
                font-size: 22px;
                color: #98a5b1;
                pointer-events: none;
            }
            .input {
                width: 100%;
                border: none;
                outline: none;
                font-size: 17px;
                word-wrap: break-word;
                word-break: break-all;
            }
            .editable {
                position: relative;
                z-index: 5;
                color: #ffffff;
            }
            .readonly {
                color: transparent;
                background: transparent;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                .highlight {
                    background: #fd9bb0;
                }
            }
        }
        .privacy {
            margin-bottom: 1rem;
            padding: 5px;
            color: #f45d22;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            transition: background 0.2s ease;
            border-radius: 50px;
            &:hover {
                background: #f45d2213;
            }
            i {
                font-size: 18px;
            }
            span {
                font-weight: 200;
                font-size: 12px;
                margin-left: 7px;
            }
        }
    }
    .bottom {
        margin-left: 5rem;
        margin-right: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgb(61, 84, 102);

        .icons {
            padding: 0.5rem;
            display: inline-flex;
            align-items: center;
            padding-left: 0;
            margin: 0;
            li {
                color: #f45d22;
                list-style: none;
                height: 38px;
                width: 38px;
                margin: 0 2px;
                font-size: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                i {
                    font-weight: 100;
                }
                &:hover {
                    background: #f45d2213;
                }
            }
        }
        .content {
            display: flex;
            align-items: center;
            .counter {
                display: none;
                border-right: 1px solid #aab8c2;
                margin-right: 15px;
                padding-right: 15px;
                color: #ffffff;
            }
            button {
                width: 2.5rem;
                height: 2.5rem;
                border: none;
                outline: none;
                border-radius: 50px;
                font-weight: 700;
                background: #f45d22;
                color: #ffffff;
                cursor: pointer;
                opacity: 0.5;
                pointer-events: none;
                i {
                    font-size: 1.2rem;
                }
            }
            .active {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}
