@import "normalize";
@import "stars";
@import "flame";

html {
    overflow: hidden;
}
body {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(20, 30, 48);
    background: -o-radial-gradient(bottom, ellipse, #1b2735 0%, #090a0f 100%);
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.startShip {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .spacecraft {
        width: 200px;
        height: 200px;
        position: relative;
        background-image: url(../images/spaceship.svg);
        background-repeat: no-repeat;

        .container {
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: -80px;
            right: 115px;
            -webkit-animation-name: flicker;
            animation-name: flicker;
            -webkit-animation-duration: 3ms;
            animation-duration: 3ms;
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
        .container2 {
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: -80px;
            left: 118px;
            -webkit-animation-name: flicker;
            animation-name: flicker;
            -webkit-animation-duration: 3ms;
            animation-duration: 3ms;
            -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
    }
}

.galaxy1 {
    opacity: 0.8;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;

    &::after {
        opacity: 0.6;
        width: 100%;
        height: 100%;
        left: 55%;
        top: 10%;
        content: "";
        background-size: 20px 50%;
        background-image: url(../images/galaxy.svg);
        background-repeat: repeat-y;
        position: absolute;
    }
    &::before {
        opacity: 0.5;
        width: 100%;
        height: 100%;
        left: 5%;
        top: 10%;
        content: "";
        background-size: 40% 20px;
        background-image: url(../images/galaxy.svg);
        background-repeat: no-repeat;
        position: absolute;
    }
}
.galaxy {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    &::after {
        opacity: 0.6;
        width: 100%;
        height: 100%;
        left: 75%;
        top: -10%;
        content: "";
        background-size: 20px 60%;
        background-image: url(../images/milky-way.svg);
        background-repeat: repeat-y;
        position: absolute;
    }
    &::before {
        opacity: 0.5;
        width: 100%;
        height: 100%;
        left: 45%;
        top: 30%;
        content: "";
        background-size: 20px;
        background-image: url(../images/milky-way.svg);
        background-repeat: no-repeat;
        position: absolute;
    }
}
.galaxy2 {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    &::after {
        opacity: 0.6;
        width: 100%;
        height: 100%;
        left: 15%;
        top: -10%;
        content: "";
        background-size: 20px 60%;
        background-image: url(../images/galaxy1.svg);
        background-repeat: repeat-y;
        position: absolute;
    }
    &::before {
        opacity: 0.5;
        width: 100%;
        height: 100%;
        left: 45%;
        top: 60%;
        content: "";
        background-size: 20px;
        background-image: url(../images/galaxy1.svg);
        background-repeat: no-repeat;
        position: absolute;
    }
}
// .moon {
//     display: none;
//     opacity: 0.8;
//     z-index: 100;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: transparent;
//     &::before {
//         width: 100%;
//         height: 100%;
//         left: 0%;
//         top: 0%;
//         content: "";
//         background-size: 300px;
//         background-image: url(../images/moon.png);
//         background-repeat: no-repeat;
//         position: absolute;
//         background-position-x: 50%;
//         background-position-y: 120%;
//     }
// }
.planet {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    &::before {
        content: "";
        background-size: 80px;
        background-image: url(../images/planet.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 35%;
        top: 20%;
        width: 100%;
        height: 100%;
        -webkit-animation: yellowLight 0.5s linear infinite;
        animation: yellowLight 0.5s linear infinite;
    }
}
.planet2 {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    &::before {
        content: "";
        background-size: 40px;
        background-image: url(../images/neptune.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 70%;
        top: 10%;
        width: 100%;
        height: 100%;
    }
}
.planet3 {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    &::before {
        content: "";
        background-size: 100px;
        background-image: url(../images/jupiter.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 25%;
        top: 45%;
        width: 100%;
        height: 100%;
        -webkit-animation: yellowLight 0.5s linear infinite;
        animation: yellowLight 0.5s linear infinite;
    }
}
