@-webkit-keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@-webkit-keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
@-webkit-keyframes ship {
    0% {
        -webkit-transform: rotate(0deg) translateY(0);
        transform: rotate(0deg) translateY(0);
    }
    20% {
        -webkit-transform: rotate(-4deg) translateY(-15px);
        transform: rotate(-4deg) translateY(-15px);
    }
    40% {
        -webkit-transform: rotate(-2deg) translateY(-10px);
        transform: rotate(-2deg) translateY(-10px);
    }
    60% {
        -webkit-transform: rotate(0deg) translateY(0);
        transform: rotate(0deg) translateY(0);
    }
    80% {
        -webkit-transform: rotate(2deg) translateY(10px);
        transform: rotate(2deg) translateY(10px);
    }
    100% {
        -webkit-transform: rotate(0deg) translateY(0);
        transform: rotate(0deg) translateY(0);
    }
}
@keyframes ship {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    10% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    20% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    30% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    40% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    60% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    70% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    80% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    90% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@-webkit-keyframes yellowLight {
    0% {
        -webkit-filter: drop-shadow(0 0 1rem#DEC235);
        filter: drop-shadow(0 0 1rem#DEC235);
    }

    10% {
        -webkit-filter: drop-shadow(0 0 0.9rem#DEC235);
        filter: drop-shadow(0 0 0.9rem#DEC235);
    }

    20% {
        -webkit-filter: drop-shadow(0 0 0.7rem#DEC235);
        filter: drop-shadow(0 0 0.7rem#DEC235);
    }

    30% {
        -webkit-filter: drop-shadow(0 0 0.4rem#DEC235);
        filter: drop-shadow(0 0 0.4rem#DEC235);
    }

    40% {
        -webkit-filter: drop-shadow(0 0 0.5rem#DEC235);
        filter: drop-shadow(0 0 0.5rem#DEC235);
    }

    50% {
        -webkit-filter: drop-shadow(0 0 0.8rem#DEC235);
        filter: drop-shadow(0 0 0.8rem#DEC235);
    }

    60% {
        -webkit-filter: drop-shadow(0 0 0.6rem#DEC235);
        filter: drop-shadow(0 0 0.6rem#DEC235);
    }

    70% {
        -webkit-filter: drop-shadow(0 0 0.7rem#DEC235);
        filter: drop-shadow(0 0 0.7rem#DEC235);
    }

    80% {
        -webkit-filter: drop-shadow(0 0 0.6rem#DEC235);
        filter: drop-shadow(0 0 0.6rem#DEC235);
    }

    90% {
        -webkit-filter: drop-shadow(0 0 0.5rem#DEC235);
        filter: drop-shadow(0 0 0.5rem#DEC235);
    }

    100% {
        -webkit-filter: drop-shadow(0 0 0.8rem#DEC235);
        filter: drop-shadow(0 0 0.8rem#DEC235);
    }
}
@keyframes yellowLight {
    0% {
        -webkit-filter: drop-shadow(0 0 1rem#DEC235);
        filter: drop-shadow(0 0 1rem#DEC235);
    }

    10% {
        -webkit-filter: drop-shadow(0 0 0.9rem#DEC235);
        filter: drop-shadow(0 0 0.9rem#DEC235);
    }

    20% {
        -webkit-filter: drop-shadow(0 0 0.7rem#DEC235);
        filter: drop-shadow(0 0 0.7rem#DEC235);
    }

    30% {
        -webkit-filter: drop-shadow(0 0 0.4rem#DEC235);
        filter: drop-shadow(0 0 0.4rem#DEC235);
    }

    40% {
        -webkit-filter: drop-shadow(0 0 0.5rem#DEC235);
        filter: drop-shadow(0 0 0.5rem#DEC235);
    }

    50% {
        -webkit-filter: drop-shadow(0 0 0.8rem#DEC235);
        filter: drop-shadow(0 0 0.8rem#DEC235);
    }

    60% {
        -webkit-filter: drop-shadow(0 0 0.6rem#DEC235);
        filter: drop-shadow(0 0 0.6rem#DEC235);
    }

    70% {
        -webkit-filter: drop-shadow(0 0 0.7rem#DEC235);
        filter: drop-shadow(0 0 0.7rem#DEC235);
    }

    80% {
        -webkit-filter: drop-shadow(0 0 0.6rem#DEC235);
        filter: drop-shadow(0 0 0.6rem#DEC235);
    }

    90% {
        -webkit-filter: drop-shadow(0 0 0.5rem#DEC235);
        filter: drop-shadow(0 0 0.5rem#DEC235);
    }

    100% {
        -webkit-filter: drop-shadow(0 0 0.8rem#DEC235);
        filter: drop-shadow(0 0 0.8rem#DEC235);
    }
}
@-webkit-keyframes clouds {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -99999px;
    }
}
@keyframes clouds {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -99999px;
    }
}
